@import "../config.scss";

.container {
  color: $primary;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
  font-family: $font;
  letter-spacing: 2px;
}
