@import "../config.scss";

.container {
  color: white;
  padding: 0 5%;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(6, 1fr);
}

.baseInfoContainer {
  h1 {
    font-family: $font;
    letter-spacing: 2px;
  }
  p {
    font-weight: bold;
  }
}

.charactersContainer {
  h1 {
    font-family: $font;
    letter-spacing: 2px;
  }
  ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 80vh;
    li {
      list-style: none;
    }
  }
}
